src/main/mule/byDOTW.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2e4a73b1-69bd-4bd1-b834-434c1d039a66" basePath="/dotw" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="21895066-8472-4d2a-81cb-772436ac5219" basePath="/dotw" >
		<http:request-connection host="localhost" port="8089" />
	</http:request-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="f7554ec3-ca94-4187-9079-ebe795b8a822" />
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="5735b073-ce45-4d2e-9bc3-9190c5cea588" >
		<http:request-connection host="184.72.81.235" port="8080" />
	</http:request-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="fbac1b5c-8e1a-4176-b938-84ec24d938ea">
		<vm:queues >
			<vm:queue queueName="api" />
		</vm:queues>
	</vm:config>
	<flow name="flow.xmlFlow" doc:id="cdc383c7-409d-4cff-af86-8a15430394fd" >
		<http:listener doc:name="Listener" doc:id="31f7135a-d699-4f8a-b319-3b9796289d7e" config-ref="HTTP_Listener_config3" path="/dotw?dotw={dotw}" allowedMethods="GET"/>
		<set-variable value="#[message.attributes.queryParams.dotw]" doc:name="Set Variable" doc:id="099690eb-5541-411f-b6c1-52dbb69c3363" variableName="dayWeek"/>
		<flow-ref doc:name="Flow Reference" doc:id="106b89e1-cfbf-4902-adb8-466c944b1414" name="orderfeatureFlow"/>
		<ee:transform doc:name="Transform Message" doc:id="cddec68d-bc3d-4f95-a6fe-3abbc296d6b1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload["date"]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="1753853a-44aa-43db-a3d1-61ca1ef9b3f0" >
			<when expression="#[vars.dayWeek == '1']">
				<ee:transform doc:name="Transform Message" doc:id="06e412f6-ce46-452e-bdb6-cde3de84e686" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload filter((value, index) -> value.payload.date.dayOfWeek == 1)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-payload value='#[{
	"day of week": "Sunday",
	"total Sales": sizeOf(payload)
}]' doc:name="Set Payload" doc:id="8d25e147-01db-4d3a-9ddb-c166f8cf51f7" />
			</when>
			<when expression="#[vars.dayWeek == '2']">
				<ee:transform doc:name="Transform Message" doc:id="c43a98c6-b466-4f9f-a513-1249946ced19" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload filter((value, index) -> value.date.dayOfWeek == 2)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-payload value='#[{&#10;	"day of week": "Monday",&#10;	"total Sales": sizeOf(payload)&#10;}]' doc:name="Set Payload" doc:id="e8cebbc2-b8fa-48da-bad6-827b7fd10566" />
			</when>
			<when expression="#[vars.dayWeek == '3']">
				<ee:transform doc:name="Transform Message" doc:id="65319371-6144-409d-b878-339bd4ed52bd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload filter((value, index) -> value.date.dayOfWeek == 3)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-payload value='#[{&#10;	"day of week": "Tuesday",&#10;	"total Sales": sizeOf(payload)&#10;}]' doc:name="Set Payload" doc:id="5ee9010b-56e1-4155-b572-334ab920dbbe" />
			</when>
			<when expression="#[vars.dayWeek == '4']">
				<ee:transform doc:name="Transform Message" doc:id="eb275e0c-883d-49d2-844c-6c666820d9d7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload filter((value, index) -> value.date.dayOfWeek == 4)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-payload value='#[{&#10;	"day of week": "Wednesday",&#10;	"total Sales": sizeOf(payload)&#10;}]' doc:name="Set Payload" doc:id="0112da36-4aa6-47ec-ab63-0f670b0f5af5" />
			</when>
			<when expression="#[vars.dayWeek == '5']">
				<ee:transform doc:name="Transform Message" doc:id="a93eb994-3b01-44df-9431-47e1fd3010be" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload filter((value, index) -> value.date.dayOfWeek == 5)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-payload value='#[{&#10;	"day of week": "Thursday",&#10;	"total Sales": sizeOf(payload)&#10;}]' doc:name="Set Payload" doc:id="6b3a41b1-1bd6-4acf-a87b-93f8104aac69" />
			</when>
			<when expression="#[vars.dayWeek == '6']">
				<ee:transform doc:name="Transform Message" doc:id="2837fdc5-663e-4a76-a326-5815deeb627a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload filter((value, index) -> value.date.dayOfWeek == 6)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-payload value='#[{&#10;	"day of week": "Friday",&#10;	"total Sales": sizeOf(payload)&#10;}]' doc:name="Set Payload" doc:id="8e0d80ec-7f19-4a4e-b27d-ac6908025ba4" />
			</when>
			<when expression="#[vars.dayWeek == '7']">
				<ee:transform doc:name="Transform Message" doc:id="d1945320-8820-4f02-ab7e-4eee3e29fd58" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload filter((value, index) -> value.date.dayOfWeek == 7)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-payload value='#[{&#10;	"day of week": "Saturday",&#10;	"total Sales": sizeOf(payload)&#10;}]' doc:name="Set Payload" doc:id="36bc14b5-d7aa-49ab-96c1-40b559468af9" />
			</when>
			<otherwise >
				<set-payload value="No Day Of Week Specified." doc:name="Set Payload" doc:id="435d35f8-0e26-44b0-9eed-bf8bee6a1e1e" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="8b027b20-d697-46e8-8727-5832b11e3306" />
	</flow>
</mule>
