src/main/mule/laura_by_product.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="product_listener" doc:name="HTTP Listener config" doc:id="d27b497b-61f9-402d-ac93-e95e279c2087" >
		<http:listener-connection host="0.0.0.0" port="8088" />
	</http:listener-config>
	<flow name="byProduct" doc:id="89bc9392-1598-44f1-af29-9a8995a4c02e" >
		<http:listener doc:name="my endpoint" doc:id="3939d993-046c-4738-b9e0-f4c5886d4680" config-ref="product_listener" path="/api/totalQuantitySalesPrevMonth/product?id={id}"/>
		<set-variable value="attributes.queryParams.id" doc:name="product id from queryparam" doc:id="7d8745bd-a6f5-49d1-a2b0-45e0f3b230af" variableName="id"/>
		<flow-ref doc:name="reference flattened data" doc:id="41aff330-79ad-4ba4-8d73-576a2ec3d931" name="orderfeatureFlow"/>
		<ee:transform doc:name="filter product" doc:id="77abb44a-bfdf-4d01-8377-05733db3649b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload filter ((value, index) -> value.product_id as String == vars.id as String)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[output application/json&#10;---&#10;sizeOf(payload)]" doc:name="get count" doc:id="b25069c8-61be-4a0e-8fc5-623de7309415" variableName="order_count"/>
		<set-variable value="#[output application/json&#10;---&#10;0 as Number]" doc:name="set quantity to 0" doc:id="77b6d836-f6b7-4100-b81b-4fd707b793ab" variableName="quantity_count"/>
		<foreach doc:name="For Each" doc:id="993cae3f-9c40-467f-8df6-bba7e2720ef9" >
			<set-variable value="#[output application/json&#10;---&#10;vars.quantity_count as Number + payload.quantity as Number]" doc:name="add up quantities" doc:id="d20f95f7-bb32-4355-93ae-893d099f79b5" variableName="quantity_count"/>
		</foreach>
		<set-payload value='#[output application/json&#10;---&#10;{&#10;	"order_count": vars.order_count,&#10;	"quantity_count": vars.quantity_count&#10;}]' doc:name="return" doc:id="851ac216-e76e-4801-80fa-4f22dcf7e10e" />
	</flow>
</mule>
