src/main/mule/orderfeature.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="orderfeatureFlow" doc:id="ebaec7ac-b46e-4862-b27d-2914de6020f6" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="a0ca9067-de0c-4402-8c5f-758c3771e510" >
			<route >
				<flow-ref doc:name="csvflow" doc:id="cf0158ad-97b9-4f03-895a-1a8bb77225cc" name="csvflow"/>
			</route>
			<route >
				<flow-ref doc:name="apiflow" doc:id="3a023ed1-4c67-48dd-9f71-7c5d0e8af352" name="apiflow"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="flatten to json" doc:id="711ae5d9-623f-480e-9bb3-efd9ae54e785" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2e20124b-74df-4888-9374-5502e41d4e14" />
	</flow>
	<flow name="csvflow" doc:id="012e2d70-8f43-4346-9414-6a3585413c70" >
		<file:read doc:name="orders.csv" doc:id="79d3a6a0-813e-480b-aa4e-61297770ec91" path="orders.csv" config-ref="File_Config"/>
		<ee:transform doc:name="CSV to JSON" doc:id="3011d5e1-3a73-41a3-8e72-8c2870893a63">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map(value, index) ->
{
	order_id: value.order_id,
	quantity: value.qty,
	date: value.datetime as Date {format : "M/d/yyyy"}
		as String {format: "yyyy-MM-dd"},
	store_id: value.store_id,
	product_id: value.product_id,
	txn_id: value.txn_id
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<set-payload value="#[payload filter((value, index)-&gt; value.date.month == now().month - 1 )]" doc:name="PrevMonthOrders" doc:id="4e610412-0046-40b8-ba95-cda95a69781c" />
		<logger level="INFO" doc:name="Logger" doc:id="e230cec8-5b16-44c0-9270-ffffe100e208" />
	</flow>
	<flow name="apiflow" doc:id="f8656d45-383d-46e9-9fe9-2d530f9d1796">
		<http:request method="GET" doc:name="PrevMonthOrders" doc:id="2fd0f5db-536b-4460-b6c9-4413db200c80" config-ref="HTTP_Request_configuration" path="/order/date" targetValue="#[%dw 2.0 output application/xml --- payload]">
					<http:query-params><![CDATA[#[output application/java
---
{
	"end_date" : "2022-05-31",
	"start_date" : "2022-05-01"
}]]]></http:query-params>
				</http:request>
		<ee:transform doc:name="Transform Message" doc:id="db2b9213-a051-4b0e-8f4b-8f2060089444">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map(value, index) ->
{
	order_id: value.id,
	quantity: value.quantity,
	date: value.date as Date {format : "yyyy-MM-dd"},
	store_id: value.storeId,
	product_id: value.product.id,
	txn_id: value.transaction.id
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e2f1637d-021f-43af-b0d6-1eebd07a9c0c" />
	</flow>
</mule>
